
<div class="container" style="width: 100rem;">
  <!-- <div class="text" ><h1 style="font-weight: bold; width:20rem;height: 30px; color: rgb(9, 1, 1); margin-right: 45%;">MY DASHBOARD</h1></div> -->
  <h1>WELCOME</h1> 
  <h1>MY DASHBOARD</h1>
  <hr>  
  <div class="row" style="display: block; ">
    <form *ngIf="ngForm" [formGroup]="ngForm">
        <div class="col-4" style="display: inline-block; float: left;  height:30rem; width:40rem;align-items: flex-start; ">
          <img src="../assets/profile-icon.png" style="height:150px;width: 150px; margin-left:30%; margin-bottom:5px;  "> 
          
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Name</mat-label>
            <input matInput class="plantId w-100" formControlName="name" required /> </mat-form-field>    
            <mat-form-field appearance="outline">
              <mat-label>DOB</mat-label>
              <input matInput formControlName="dob" type="date" required />
              <!-- <input matInput formControlName="dob" [matdatepicker]="myDatePicker" required />
              <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #myDatePicker></mat-datepicker> -->
              </mat-form-field>  

        </div>

        <div class="col-4" style="display: inline-block; float: inline-start;">
            <mat-form-field appearance="outline" >
            <mat-label>FirstName</mat-label>
            <input matInput class="plantId w-100" formControlName="firstName" required /> </mat-form-field>
            
            <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required /></mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label>Contact No.</mat-label>
            <input matInput formControlName="contactNumber" required /></mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required/> </mat-form-field>
            
        </div>

        <div class="col-4" style="display: inline-block">
            <mat-form-field appearance="outline">
            <mat-label>LastName</mat-label>
            <input matInput formControlName="lastName" required/> </mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required /></mat-form-field>
    
            <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <!-- <input matInput formControlName="gender" required /> -->
              <mat-select formControlName="gender" required>
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="others">Others</mat-option>
              </mat-select>
            </mat-form-field>
        
            <!-- <mat-form-field appearance="outline">
            <mat-label>UserRole</mat-label>
            <input matInput formControlName="userRole" required /> -->
            <!-- <mat-select formControlName="userRole" required>
              <mat-option value="seller">Seller</mat-option>
              <mat-option value="buyr">Customer</mat-option>
            </mat-select>
          </mat-form-field> --> 
            
        </div>
        <button mat-raised-button color="primary" (click)="Updated()">Submit</button>
      </form>
      
  </div>
</div>
 









<!-- <div class="container" style="width: 100rem;"> -->
    <!-- <div class="text" ><h1 style="font-weight: bold; width:20rem;height: 30px; color: rgb(9, 1, 1); margin-right: 45%;">MY DASHBOARD</h1></div> -->
    <!-- <h1>WELCOME</h1>  -->
    <!-- <h1>MY DASHBOARD</h1>
    <hr>  
    <div class="row" style="display: block; ">
      <form *ngIf="ngForm" [formGroup]="ngForm">
          <div class="col-4" style="display: inline-block; float: left;  height:30rem; width:40rem;align-items: flex-start; ">
            <img src="../assets/profile-icon.png" style="height:150px;width: 150px; margin-left:30%; margin-bottom:5px;  "> 
            
            <mat-form-field appearance="outline" style="width:100%"> -->
              <!-- <mat-label>Name</mat-label>
              <input matInput class="plantId w-100" formControlName="Name" required /> </mat-form-field>    
              <mat-form-field appearance="outline">
                <mat-label>Dob</mat-label>
                <input matInput formControlName="dob" required /></mat-form-field>   
          </div>
    
        
    
          <div class="col-4" style="display: inline-block; float: inline-start;">
              <mat-form-field appearance="outline" >
              <mat-label>FirstName</mat-label>
              <input matInput class="plantId w-100" formControlName="fName" required /> </mat-form-field>
              
              <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required /></mat-form-field>

              <mat-form-field appearance="outline">
              <mat-label>Contact No.</mat-label>
              <input matInput formControlName="contactno" required /></mat-form-field>
  
              <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" required/> </mat-form-field>
              
          </div>
  
          <div class="col-4" style="display: inline-block; float: inline-end;">
              <mat-form-field appearance="outline">
              <mat-label>LastName</mat-label>
              <input matInput formControlName="lName" required/> </mat-form-field>
  
              <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" required /></mat-form-field>
      
              <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <input matInput formControlName="gender" required /></mat-form-field>
          
              <mat-form-field appearance="outline">
              <mat-label>UserRole</mat-label>
              <input matInput formControlName="userRole" required /></mat-form-field>
              
          </div>
          <button mat-raised-button color="primary" (click)="Updated()">Submit</button>
        </form>
        
    </div>
  </div>
    -->
