.container{ 
    
    display: inline-block;
    background-color:rgba(118, 250, 118, 0.879);
    color:#000000;
    margin-top: 130px;
    height: 510px;
    width: 800px;
    border-top-right-radius:  60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px; 
    margin-left:100px;
}

h1{
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

mat-form-field{
    width:100%;
    
}

  mat-label{
    font-weight: bold;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: black;
  }

  button{
    text-align: center;
    margin-left: 150px;
  }


  