<!-------<mat-toolbar  style="background-color: #050448">
  
  <mat-toolbar-row>
    <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <span >Prakritik</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon style="position:relative;right:5">account_circle</mat-icon>
     
    </button>
      <span>
      <div *ngFor="let id of ids">
        <div class="card-header" style="font-size:small">{{id.emailid}}</div>
        </div>
      </span>
     <mat-menu #menu="matMenu">
     <button mat-menu-item="" routerLink="/profile">My Profile</button>
    <button mat-menu-item>Log Out</button>
    </mat-menu>
   
   
   </mat-toolbar-row>
 
  </mat-toolbar>
  
  <mat-sidenav-container autosize>
   <mat-nav-list>

    <mat-list-item (click)="">

    </mat-list-item>
   </mat-nav-list>
      <mat-sidenav mode="side" opened #sidenav>
       <img class="avatar mat-elevation-z8" src="https://www.freeiconspng.com/thumbs/profile-icon-png/am-a-19-year-old-multimedia-artist-student-from-manila--21.png">

       <div>
        <div *ngFor="let id of ids">
          <div class="card-header" style="font-size:small">{{id.emailid}}</div>
          </div>
        </div>
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/seller">
        <mat-icon>add_box</mat-icon>
        <span>Add Plants</span>
      </button>
      <button mat-button class="menu-button" routerLink="/orderList">
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Order List</span>
      </button>
      <button mat-button class="menu-button" routerLink="/Editprofile">
      <button mat-button class="menu-button" routerLink="/customerbookinghistory">
       
        <span>customerorderlist</span>
      </button> 
      <button mat-button class="menu-button" >
        <mat-icon>create</mat-icon>
        <span>Edit Profile</span>
      </button>
  
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>-------->

    <mat-sidenav-container autosize>
      <mat-sidenav #sidenav mode="side" opened="isExpanded">
      
    
      
        <button mat-button (click)="isExpanded = !isExpanded" style="margin-top:15px;">
            <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">menu
            </mat-icon>
          </button><br/>
          
        
            <button mat-button  routerLink="/sellerhomepage/home" style="margin-top:30px;">
            <mat-icon mat-list-icon>home</mat-icon>
            <span *ngIf="isExpanded" class="menu-item" style="margin-left:8px;">Home</span>
            </button><br/>

            <button mat-button [matMenuTriggerFor]="menu" style="margin-top:16px;"> <mat-icon>add_box</mat-icon> <span *ngIf="isExpanded" class="menu-item" style="margin-left:8px;">Add Products</span></button>
            <mat-menu #menu="matMenu" >
              <button mat-menu-item routerLink="/sellerhomepage/seller" style="width: 160px;font-weight: bold;font-size: 16px;" class="menu">Add Plants</button>
              <button mat-menu-item routerLink="/sellerhomepage/seedslist" style="width: 160px;font-size: 16px;font-weight: bold;" class="menu">Add Seeds</button>
              <button mat-menu-item routerLink="/sellerhomepage/medicines" style="width: 160px;font-size: 16px;font-weight: bold;" class="menu">Add Medicines</button>
            </mat-menu><br/>
           
            <button mat-button routerLink="/sellerhomepage/orderList" style="margin-top:16px;">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <span *ngIf="isExpanded" class="menu-item" style="margin-left:8px;">Order List</span>
            </button><br/>
         

       
            <button mat-button style="margin-top:16px;" routerLink="/sellerhomepage/Editprofile">
            <mat-icon>create</mat-icon>
            <span *ngIf="isExpanded" class="menu-item" style="margin-left:8px;">Edit Profile</span>
            </button><br/>
         
    
        
      </mat-sidenav>
    
      <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
       
      <mat-sidenav-content>
       
        <mat-toolbar>
  
          
            <span >Prakritik</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menuitem">
              <mat-icon style="position:relative;right:5">account_circle</mat-icon>
            </button>
              <span>
              <div style="margin-right:160px">
                <div class="card-header" style="font-size:small">{{emailid}}</div>
                </div>
              </span>
             <mat-menu #menuitem="matMenu">
             <button mat-menu-item routerLink="/sellerhomepage/profile">My Profile</button>
            <button mat-menu-item (click)="LogOut()">Log Out</button>
            </mat-menu>
         
           </mat-toolbar>
  
        <router-outlet></router-outlet>
       
      </mat-sidenav-content>
  
    </mat-sidenav-container>
