
    
    <mat-sidenav-container autosize>
      <mat-sidenav #sidenav mode="side" opened="isExpanded">
      
    
      
        <button mat-button (click)="isExpanded = !isExpanded" style="margin-top:15px;">
            <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">menu
            </mat-icon>
          </button><br/>
          
        
            <button mat-button style="margin-top:30px;" routerLink="/navbar/customerhomepage">
            <mat-icon mat-list-icon>home</mat-icon>
            <span *ngIf="isExpanded" class="menu-item" >Home</span>
            </button><br/>
        
    
      
            <!-- <button mat-button style="margin-top:16px;">
              <mat-icon>shopping_cart</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Cart</span>
            </button><br/> -->
         
        
            <button mat-button style="margin-top:16px;" routerLink="/navbar/customerorderlist">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Order List</span>
            </button><br/>
         

       
            <button mat-button style="margin-top:16px;" routerLink="/navbar/Editprofile">
            <mat-icon>create</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Edit Profile</span>
            </button><br/>
         
    
        
      </mat-sidenav>
    
      <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
       
      <mat-sidenav-content>
       
        <mat-toolbar>
             
          
            <span >Prakritik</span>
            <span class="example-spacer"></span>
            
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon style="position:relative;right:5">account_circle</mat-icon>
            </button>
              <span>
              <div  style="margin-right:160px">
                <div class="card-header" style="font-size:small">{{emailid}}</div>
                </div>
              </span>
             <mat-menu #menu="matMenu">
             <button mat-menu-item routerLink="/navbar/profile">My Profile</button>
            <button mat-menu-item (click)="LogOut()">Log Out</button>
            </mat-menu>
         
           </mat-toolbar>
          
        <router-outlet></router-outlet>
        
        
      </mat-sidenav-content>
    </mat-sidenav-container>
    
