
  <mat-card>
    <mat-card-title>List of Your Products</mat-card-title><hr/>
    <div class="card" *ngFor="let plantmodel of plantmodels">
     
      <div class="container" style="width: 100%;">
    <div class="row">
      <div class="col">
        <app-product-image [plantmodel]="plantmodel" style="width:50px;height:50px;"></app-product-image>
      </div>
      <div class="col">
      
        <div style="font-weight: bold;font-size: medium; padding-bottom: 16px;margin-top:5px">
          Name of Product
        </div>
        {{plantmodel?.productName}}
      </div>
      <div class="col">
       
        <div style="font-weight: bold;font-size: medium; padding-bottom: 16px;margin-top:5px">
          Quantity in No's
        </div>
        {{plantmodel?.productsAvailable}}
      </div>
      <div class="col">
       
        <div style="font-weight: bold;font-size: medium; padding-bottom: 16px;margin-top:5px">
          Product Price
        </div>
        {{plantmodel?.productPrice}}/item
      </div>
      <div class="col">
        
        <div style="font-weight: bold;font-size: medium; padding-bottom: 16px;margin-top:5px">
          Product Age
        </div>
        {{plantmodel?.productAge}}
      </div>
      <div class="col">
       
        <div style="font-weight: bold;font-size: medium;padding-bottom: 16px;margin-top:5px">
          Product Address
        </div>
        {{plantmodel?.productAddress}}
      </div>
      <div class="col">
        
        <div style="font-weight: bold;font-size: medium;padding-bottom: 16px;margin-top:5px">
          Size Of Product
        </div>
        {{plantmodel?.sizeOfProduct}}
      </div>
      <div class="col-2">
        <div style="font-weight: bold;font-size: medium;padding-bottom: 25px;margin-top:5px">Actions</div>
        <button mat-icon-button color="primary" routerLink="/sellerhomepage/seller/update/{{plantmodel.productId}}"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteProduct(plantmodel.productId)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button color="accent" mat-raised-button (click)="openDialog(plantmodel.productId)"><mat-icon>info</mat-icon></button>
      </div>

     
  </div>
</div>
</div>
</mat-card>


  

   
            

           
            