host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container{
  width: max-content;
  display: inline-block;
  flex: content;
  font-size: small;
}
.mat-card{
  background-color:whitesmoke
}
button{
  background-color: rgba(218, 75, 75, 0.603);
  border-radius: 5px;
  color: rgb(13, 13, 13);
  width: 100px;
  text-align: center;
  
}
button:hover{
  background-color: yellowgreen;
}
.card-header{
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
 background-color: rgba(66, 219, 66, 0.656);
  
}
.card-body{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Ar
}
.card-title{
font-family: 'Times New Roman', Times, serif;
}
.card-img-bottom:hover{
  border-radius: 2px;
}
.h1{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.mat-icon{
  color: rgb(177, 78, 188);
}