mat-card{
  width:800px;
  height:800px;
  margin-left: 40px;
  margin-right:50px;
  border-radius: 20px;
  margin-top:15px;
  display:flex;
  justify-content: flex-start;
}
.example-radio-button {
  margin: 5px;
}
.profile{
  display:flex;
  border-radius:20px ;
  flex-direction: column;
  width:700px;

  height:650px;
  justify-content: flex-start;

}

mat-form-field{
  width:100%;
  margin-top: 10px;
}
.Image{
  background-color: rgb(255,255,255);
  border: solid 4px black;
  border-radius: 10px;
  color:black;
  padding:10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:16px;
  font-weight:bold;
  margin-top:6px;
  margin-bottom: 6px;
  cursor:pointer;
  width:150px;
  height:45px
}
.img_container{

  display: flex;
  flex-direction: column;
}

mat-card-title{
  text-align: center;
}
.block{
  display: block;
}

.form-control{
  margin-top:5px;

}
label{
  margin-top:20px;
}



textarea{
  margin-top:25px;
}
#Toxicity{
  font-weight: bold;
}


mat-card-title{
  background-color: #f6d8ac;
  height:50px;
  padding: 15px;
}


.container-fluid{

 display: flex;
 justify-content: center;
 
}
.submit{
  margin-left:450px;
}
mat-horizontal-stepper{

  margin-top: 70px;
  margin-bottom: 10px;
  background-color: rgb(241, 235, 235);

}