<div class="container-fluid">
    <mat-horizontal-stepper >
          <mat-step [stepControl]="profileFormGroup" completed="false">
           <mat-card class="profile">
                <mat-card-title>Profile of the seeds</mat-card-title>
                <form *ngIf="profileFormGroup" [formGroup]="profileFormGroup">
                  <ng-template matStepLabel>Profile</ng-template>
                  <mat-form-field appearance="outline" >
                    <mat-label>Email Id</mat-label>
                    <input
                      matInput
                      class="plantId w-100"
                      formControlName="sellerEmailId"
                      required
                    /> </mat-form-field
                  >
  
                  <!-- <mat-form-field appearance="outline" >
                    <mat-label>product ID</mat-label>
                    <input
                      matInput
                      class="productId w-100"
                      formControlName="productId" readonly
                      
                    /> </mat-form-field
                  > -->
                  
                  <mat-form-field appearance="outline" >
                    <mat-label>Quantity(.in No's)</mat-label>
                    <input
                      matInput
                      class="plantId w-100"
                      formControlName="productsAvailable"
                      required
                    /> </mat-form-field
                  ><br />
                  <mat-form-field appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input
                      matInput
                      formControlName="productName"
                      required
                    /> </mat-form-field
                  ><br />
                  <mat-form-field appearance="outline">
                    <mat-label>Product Price</mat-label>
                    <input matInput type="number" formControlName="productPrice" required />
                    <mat-hint [align]="'end'">*Enter in Numbers</mat-hint>
                  </mat-form-field>
                  <div class="img_container">
                    <div>
                      <label for="choose-file" style="color:#089975">Upload Product Images</label>
                  </div>
                  <div>
                     
                      <input type="file" id="choose-file" size="80" multiple formControlName="productImage" (change)="onFileChanged($event.target.files)" #fileInput required>
                  </div>
                  </div>
                  <mat-card-actions >
                    <button
                      mat-raised-button
                      color="primary"
                      style="margin-left:600px"
                       matStepperNext
                    >
                      Next
                    </button>
                  </mat-card-actions>
                </form>
              </mat-card>
    
          </mat-step>
    
          <!-------step 2----->
          <mat-step [stepControl]="profileFormGroup" completed="false"> 
            <mat-card class="profile">
              <mat-card-title>Requirements of seeds</mat-card-title>
              <form *ngIf="profileFormGroup" [formGroup]="profileFormGroup">
                <ng-template matStepLabel>Requirements</ng-template>
    
                <mat-form-field style="margin-top: 7px" appearance="outline">
                  <mat-label>Product Address</mat-label>
                  <input matInput formControlName="productAddress" required />
                </mat-form-field>

                <mat-form-field appearance="outline" >
                  <mat-label for="productAge">Product Age</mat-label>
                  <mat-select name="productAge" id="productAge" formControlName="productAge"   >
                    <mat-option *ngFor="let age of ages" [value]="age">
                      {{age}}
                     </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline">
                <mat-label for="waterRequirement">Water Requirement for the Product</mat-label>
                <mat-select name="waterRequirement" id="waterRequirement" formControlName="waterRequirement" required>
                 <mat-option>--Select--</mat-option>
                 <mat-option *ngFor="let day of days" [value]="day">
                  {{day}}
                 </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label for="sunlightRequirement">Sunlight Requirement for the Product</mat-label>
                <mat-select name="sunlightRequirement" id="sunlightRequirement" formControlName="sunlightRequirement" required>
                 <mat-option>--Select--</mat-option>
                 <mat-option *ngFor="let part of parts"[value]="part">
                  {{part}}
                 </mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field appearance="outline" >
                <mat-label for="sizeOfPlant">Size of the Product</mat-label>
                <mat-select name="sizeOfProduct" id="sizeOfProduct" formControlName="sizeOfProduct"   >
                 <mat-option *ngFor="let size of sizes" [value]="size">
                  {{size}}
                 </mat-option>
                </mat-select>
              </mat-form-field>
    
                <mat-card-actions>
                  <button mat-raised-button color="primary" id="previous" style="margin-left:5px"   matStepperPrevious>Back</button>
                  <button mat-raised-button id="next" color="primary"  style="margin-left:540px"     matStepperNext>Next</button>
                </mat-card-actions>
              </form>
            </mat-card>
          </mat-step>
    
          <!-----last step-->
          <mat-step [stepControl]="profileFormGroup" completed="false">
            <mat-card class="profile">
              <mat-card-title>About Seeds</mat-card-title>
              <form *ngIf="profileFormGroup" [formGroup]="profileFormGroup">
                <ng-template matStepLabel>You are almost done....</ng-template>
                <mat-label id="toxicity"
                  >State Whether the Product is toxic to pets, kids:
                </mat-label>
                <mat-radio-group
                  aria-labelledby="toxicity"
                  formControlName="toxicity"
                  class="example-radio-group"
                  [(ngModel)]="toxicity">
                  <mat-radio-button
                    class="example-radio-button block"
                    *ngFor="let result of results"
                    [value]="result"
                    >
                    {{ result }}
                  </mat-radio-button>
                </mat-radio-group>
    
    
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Description of the Product</mat-label>
                  <textarea
                    matInput
    
                    rows="10" col="50"
                    formControlName="description" required
                  ></textarea>
                  <mat-hint [align]="'end'">Max 255 characters</mat-hint>
                </mat-form-field>
              </form>
              <mat-card-actions>
                <button mat-raised-button id="back" color="primary"  style="margin-left:5px"   matStepperPrevious>Back</button>
                <button mat-raised-button class="submit" color="primary" style="margin-left:530px"  (click)="OnSubmit()">Update</button>
              </mat-card-actions>
            </mat-card>
          </mat-step>
        </mat-horizontal-stepper>
    
    
      </div>